          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3><%= t('Your account') %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-striped">
                    <tbody>
                      <tr class="total">
                        <td><%= t('Your account (total)') %></td>
                        <td class="text-right">
                          <%= number_to_currency @user.account_sum %>
                        </td>
                      </tr>
                      <% @user.wallets.each do |wallet| %>
                        <tr>
                          <td><%= wallet.name %></td>
                          <td class="text-right">
                            <%= number_to_currency wallet.balance %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <table class="table table-striped">
                    <tbody>
                      <tr class="danger">
                        <td><%= t('Your limit') %></td>
                        <td class="text-right">
                          <%= number_to_currency @user.limit %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
 
