.panel.panel-info
  .panel-heading
    %h3= t('Last operations')
  .panel-body
    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %tr
              %th= t('Date/Time')
              %th= t('Name')
              %th= t('Wallet')
              %th= t('Sum')
          %tbody
            - total_sum = 0
            - @last_transactions.each do |transaction|
              %tr
                %td= transaction.date_time.strftime("%F %R")
                %td= transaction.purchase_name
                %td= transaction.wallet_name
                %td.text-right
                  = number_to_currency transaction.sum
              - total_sum += transaction.sum
            %tr.total
              %td{:colspan => "2"}= t('Total')
              %td.text-right{:colspan => "2"}
                \-#{number_to_currency total_sum}
= link_to t('Add operations'), transactions_path, :class => 'btn btn-primary'
