          <div class="panel panel-info">
            <div class="panel-heading">
              <h3><%= t('Last operations') %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th><%= t('Date/Time') %></th>
                        <th><%= t('Name') %></th>
                        <th><%= t('Wallet') %></th>
                        <th><%= t('Sum') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @total_sum = 0 %>
                      <% @last_transactions.each do |transaction| %>
                        <tr>
                          <td><%= transaction.date_time.strftime("%F %R") %></td>
                          <td><%= transaction.purchase_name %></td>
                          <td><%= transaction.wallet_name %></td>
                          <td class="text-right">
                            <%= number_to_currency transaction.sum %>
                          </td>
                        </tr>
                        <% @total_sum += transaction.sum %>
                      <% end %>
                      
                      <tr class="total">
                        <td colspan="2"><%= t('Total') %></td>
                        <td colspan="2" class="text-right">-<%= number_to_currency @total_sum %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <%=link_to t('Add operations'), transactions_path, :class => 'btn btn-primary' %>

