.panel.panel-info
  .panel-heading
    %h3= t ".title"
  .panel-body
    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %tr
              %th= t "date_time"
              %th= t "name"
              %th= t "wallet"
              %th= t "sum"
          %tbody
            - total_sum = 0
            - @last_transactions.each do |transaction|
              %tr
                %td= l transaction.date_time, format: :short
                %td= transaction.purchase.name
                %td= transaction.wallet.name
                %td.text-right
                  = number_to_currency add_sign_to_value(transaction.sum, transaction.side)
              - total_sum += transaction.sum
            %tr.total
              %td{:colspan => "2"}= t("total")
              %td.text-right{:colspan => "2"}
                \-#{number_to_currency total_sum}
= link_to t(".transactions"), transactions_path, class: "btn btn-primary"
