.col-xs-12.col-sm-12.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3= @purchase.name
    .panel-body
      %p
        %strong
          = t "category"
          \:
        = @purchase.category.name
      .row
        .col-md-12
          %table.table.table-striped
            %tbody
              %tr.total
                %td{:colspan => "3"}
                  = t ".transactions"
                  \:
              - @transactions.each do |transaction|
                %tr
                  %td= transaction.date_time
                  %td= transaction.wallet.name
                  %td= number_to_currency transaction.sum
        .col-sm-12
          = link_to t("actions.rename"), edit_purchase_path(@purchase), class: "btn btn-warning"
          = link_to t("actions.back"), category_purchases_path(@purchase.category), class: "btn btn-info"
