%nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-header
    %a.navbar-brand{href: "#"}= t "project_name"
  .container
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "/main/index"}= t "menu.home"
        %li
          %a{href: "/main/about"}= t "menu.about"
        %li
          %a{href: "/main/contact"}= t "menu.contact"
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = t('menu.reports')
            %span.caret
      - if user_signed_in?
        = render partial: "shared/user"
      - else
        = render partial: "shared/guest"
