
<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3><%= @wallet.name %></h3>
  </div>
  <div class="panel-body">
    <p>
      <strong><%= t('User') %>:</strong>
      <%= @wallet.user[:name] %>
    </p>
    <p>   
      <strong><%= t('Balance') %>:</strong>
      <%= number_to_currency @wallet.balance %>
    </p>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <tbody>
            <tr class="total">
              <td colspan="3"><%= t('Transactions by this wallet') %>:</td>
            </tr>
            <% @wallet.transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.date_time %></td>
                <td><%= transaction.purchase.name %></td>
                <td><%= number_to_currency transaction.sum %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= link_to t('Edit'), edit_wallet_path(@wallet), class: 'btn btn-warning' %>
    <%= link_to t('Back'), user_wallets_path(current_user), class: 'btn btn-info' %>
  </div>
</div>
</div>
