%h1= t '.title'
%table.table.table-striped
  %thead
    %tr
      %th= t("Name")
      %th= t("User")
      %th{:colspan => "4"}
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.user[:name]
        %td= link_to t('Show purchases'), category_purchases_path(category)
        %td= link_to t('Show transactions'), category
        %td= link_to t('Edit'), edit_category_path(category)
        %td= link_to t('Destroy'), category, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to t('New Category'), new_category_path
