= render partial: "shared/flash"
.container
  %h3= t ".title"
  %table.table.table-hover
    %thead
      %tr
        %th= t "date_time"
        %th= t "name"
        %th= t "wallet"
        %th= t "sum"
        %th{:colspan => "2"}
    %tbody.transaction-index
      = render partial: "index", locals: { transactions: @transactions }
  = link_to t("transactions.new.title"), new_transaction_path, remote: true, class: "btn btn-primary"
  .new-transaction
#transaction-modal.modal.fade
  .modal-dialog
    .modal-content
