<%= render partial: 'layouts/flash' %>
<div class="container">
  <h3><%= t('Listing Transactions') %></h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('Date/Time') %></th>
        <th><%= t('Name') %></th>
        <th><%= t('Wallet') %></th>
        <th><%= t('User') %></th>
        <th><%= t('Sum') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody class="transaction-index">
      <%= render "index" %>
    </tbody>
  </table>

  <%= link_to t('New Transaction'), new_transaction_path, remote: true, class: 'btn btn-primary' %>
  <div class="new-transaction"></div>
</div>
<div id="transaction-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
 
