%p#notice= notice
%p
  %strong Date, time:
  = @transaction.date_time
%p
  %strong Wallet:
  = @transaction.wallet
%p
  %strong Purchase:
  = @transaction.purchase
%p
  %strong Sum:
  = @transaction.sum
= link_to t("actions.edit"), edit_transaction_path(@transaction)
|
= link_to t("actions.back"), transactions_path
